html,body{margin:0;padding:0}
body{font-family: arial, sans-serif; margin:0;}
input { padding: 0; margin: 0px;}
a { outline: none; }

div#header{position:relative; background: #f3f3f3; margin-bottom: 2px;}
div#header h1{height:40px;line-height:80px;margin:0; padding-left:10px; color: #79B30B}
div#header a{position:absolute;right:0;top:23px}

div#toolbox{background:#f3f3f3; float:left;width:36px;margin-left:-100%;}

div#rightpanel{background:#f3f3f3; float:left;width:140px;margin-left: -140px; font-size: 9px; position: relative; }

div#wrapper{float:left;width:100%; margin-bottom: 2px; }
div#fWorkspace{margin: 0 102px 0 38px; position: absolute;}
div#footer{background: #f3f3f3; color: #dfdfdf; padding:0px; clear:left; width:100%; height: 37px;  font-size: 10px;}



/* Text */
.fT9 {
	font: 9px verdana;
	color: #CCCCCC;
}
.fT12 {
	font: 12px verdana;
	color: #ffffff;
}

.fT11 {
	font: 11px verdana;
	color: #cccccc;
}

.fTI {
	font-style: italic;
}

.fTDim {
	color: #999999;
}

.fTsmall {
	font: bold 10px verdana;
	color: #ffffff;
}

.fTThick {
	font-size: 32px;
	color: #4C4C4C;
	font-family: verdana;
	font-weight: bold;
}
.fTBlue {
	color: #8C92C5;
}


/* Panels */
.panel {
	width: 138px;
	background-color: #f3f3f3;
	border: 1px solid #DFDFDF;
	margin-bottom: 3px;
	position: absolute;
	right: 0px;
	height: 100%;
}
#fRightClickMenu {
	width: 200px;
	background-color: #ffffff;
	border: 1px solid #666666;
	margin-bottom: 3px;
	position: absolute;
	right: 0px;
}

#fRightClickMenu div a {
	font-family: verdana;
	font-size: 9px;
	color: #616DB4;
	text-decoration:none;
}
	


.fPanelItemsList {
	overflow:hidden;
	clear:left;
	position:relative;
	cursor: auto;
}

.panelItemsListCollapse {
	position: relative;
	height: -40px;
}

.panelArrowUp {
	display: none;
	height: 6px;
	background: #AAB0D7 url('../images/buttonArrowUp_off.gif') no-repeat top center;
}
.panelArrowUpHover {
	background: #616DB4 url('../images/buttonArrowUp_over.gif') no-repeat top center;
}

.panelArrowDown {
	display: none;
	height: 6px;
	background: #AAB0D7 url('../images/buttonArrowDown_off.gif') no-repeat top center;
	position: relative;
	bottom: 0px;
}
.panelArrowDownHover {
	background: #616DB4 url('../images/buttonArrowDown_over.gif') no-repeat top center;
}


.panelTitle {
	padding:4px;
	padding-left: 17px;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #ffffff;
	background-color: #888888;
	margin-bottom: 1px;
	background-image: url('../images/blank.gif');
}


.panelItem, #fRightClickMenu div {
	padding: 1px;
	padding-left:4px;
	background-color: #F4F4F4;
	font-family: verdana;
	font-size: 9px;
	color: #616DB4;
	margin-bottom: 1px;
}

.panelItemSelected {
	background-color: #616DB4 !important; 
	color: #ffffff !important;
}

.fPanelItemsList div:hover, #fRightClickMenu div:hover{ 
	background-color: #E5E5E5;
}

.panelIcons {
	background-color: #F4F4F4;
	width: 100%;
	text-align: right;
	bottom: 0px;
	right: 0px;
	position: absolute;
}





/* Workspace and items inside of it */



.fWorkspace {
	border: solid 1px #dFdFdF;
	overflow: hidden;
	position: absolute;
}

.fObject {
	border: 1px solid #cfcfcf;
	background-color: #ffffff;
	position: absolute;
	text-align:center;

	/*
	-moz-box-sizing: border-box;
	box-sizing: border-box !important;
	*/
}
.p1 {

}
.p2 {
	background-color: #dfdfdf;
}
.p3 {
	background-color: #bfbfbf;
}
.p4 {
	background-color: #9f9f9f;
}
.p5 {
	background-color: #7f7f7f;
}


.fText {
	background-color: #ffffff;
	background: url('../images/bg_txt01.png') 0px 1px repeat;
	position: absolute;
	font-size: 12px;
	text-align: left;
	wrap-option: softwrap;
	white-space: pre-wrap !important;
	/*outline: 5px solid #ffffff;
	outline-offset: -5px;*/
	/*
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/
}
.fTextHasTxt {
	outline: 0px solid #ffffff;
	border: 1px solid transparent;
	background: url('');
}

.fLabelHolder {
	top: 50%;
	display: inline;
	position: relative;
}
.fLabel  {
	top: -6px;
	display: inline;
	font-size: 10px;
	color: #9f9f9f;
	position: relative;
}
.fLBracket{
	color: #6f6f6f;
}

div.fLabel:hover {
	color: #333333;
}


.fHighlight {
	position:absolute;
	top: 0px;
	left: 0px;
	border: 6px solid #cfcfcf;
	text-align: left;
}
.fHighlightArrow {
	position:absolute;
	top: 0px;
	left: 0px;
	margin-left: -130px;
	margin-top: 10px;
	text-align: left;
	z-index: 100000;
}
.fHARight {
   margin-left: 10px;
}

.parent {
	background-image: url('../images/bg_parent.gif');
	background-position: top right;
	background-repeat: no-repeat;
}

.selected {
	border-color: #353E6F;
	background-image: url('../images/bg_selected.gif');
	background-position: top right;
	background-repeat: no-repeat;
}

.selectedInst {
	border-color: #D95700;
	background-image: url('../images/bg_selectedInst.gif');
}
.selectedTxt {
	border: 1px solid #cfcfcf;
	border-color: #353E6F;
	background-image: url('../images/bg_txt01.png'), url('../images/bg_selected.gif');
	background-position: top left, top right;
	background-repeat: repeat-y,no-repeat;
	position: absolute;
	font-size: 12px;
}
	
.selected div.fObject { 
	/*border-color: #8C95C8;*/
	background-image: url('../images/bg_child.gif');
	background-position: top right;
	background-repeat: no-repeat;
}
.selectedInst div.fObject {
	/*border-color: #FF9E5E;*/
	background-image: url('../images/bg_childInst.gif');
}


/*cursor handling*/
.cursorMove {
	cursor: move;	
}

div.resizable {
	cursor: auto;	
}



.cursorCrosshair {
	cursor: crosshair;
}


.pasteFillInst {
	background-color: #D95700;
	width: 100%;
	height: 100%;
	position: absolute;
	float: left;
	opacity: 1;
	z-index: 1000000;
}





/**** Footer Items - separate states *****/
#fObjInstHolder, #fFooterText, #fNoneSelectedHolder {
	padding-left: 100px;
	position: absolute;
	bottom: 0px;
	display: none;
}
#fNoneSelectedHolder, #fFooterText {
	padding-bottom: 45px;
}
#fNoneSelectedHolder {
	display: block;
}



/**** Footer Items - generic classes *****/
.fFItem {
	float: left;
	bottom: 0px;
	height: 95px;
	padding-left: 10px;
}
.fFRight{
	width: 5px;
	height: 60px;
	float: left;
	background: #4c4c4c;
	background: url('../images/bg_fRight.png') no-repeat top left;
}
.fFLeft{
	width: 5px;
	height: 60px;
	float: left;
	background: #4c4c4c;
	background: url('../images/bg_fLeft.png') no-repeat top left;
}
.fFCore {
	background: #4c4c4c;
	height: 60px;
	display: inline;
	float: left;
}
.fFTop {
	height: 35px;
	vertical-align: bottom;
	position: relative;
}



.fFTop * {
	font-size: 18px;
	color: #999999;
	font-family: verdana;
	font-weight: bold;
}


/**** Footer Items - particulars *****/

#fFId {
	width: 100px;
}
#fFStates {
	width: 490px;
}
#fFAs {
	width: 150px;
	text-align: center;
}

#fFAs * {
	padding: 18px 1px 0 1px;
}



#fWHXYHolder {
	padding: 5px 0 0 5px;
}


#fObjLeft, #fInstLeft {
	width: 3px;
	height: 100%;
	display: inline;
	float: left;
}

#fObjCore, #fInstCore, #fStates {
	height: 100%;
	display: inline;
	float: left;
	padding: 0 3px 0 3px;
}
#fObjCore .fIcons, #fInstCore .fIcons, #fStates .fIcons {
	padding: 4px 0px 0px 0px;
}

#fObjRight, #fInstRight {
	width: 3px;
	height: 100%;
	display: inline;
	float: left;
}

#fObjName, #fStateName { text-decoration: none; }

.fWSTitle {
	display: inline;
	float: left;
	padding-top: 16px;
}


#fSInherit,#fSSize,#fSPos,#fSContents,#fSEvents,#fSPriority {
	display: inline; float: left; padding-right: 15px;
}
#fSPriority {
	padding-right: 0px;
}
#fSInherit {
	padding-top: 4px;
	padding-right: 26px;
}
#fSSize {
	padding-right: 20px;
}
.fSCheck {
	display: inline; float: left; padding: 0 0 0 0; margin: 4px 0 0 4px;
	background: url('../images/checkbox_on.png') no-repeat top left;
	width: 18px; 
	height: 16px;
	cursor: pointer;
}
.fSTitle {
	display: inline; float: left;
	padding: 3px 0 0 0;
	color: #8C95C8;
	cursor: pointer;
}
.fSInputLetter {
	clear: left;
	margin: 2px 0 2px -13px;
	display: inline; float: left;
}
.fSInput {
	display: inline; float: left;
	margin-left: -1px;
}
.fSText {
	clear: left;
	margin-left: 4px;
}
.fSInput input {
	font-size: 10px; height: 15px; background-color: #626FB5; font-family: arial; border: 1px solid #3F4985; color: #ffffff;  padding: 1px; margin-left: 4px;
}
.fSOver {
	background: url('../images/fSOver.png') no-repeat;
}

/* off/unchecked state */
.fSOff div input {
	font-size: 10px; height: 15px; background-color: #FF6600; font-family: arial; border: 1px solid #CA5100; color: #ffffff;  padding: 1px; margin-left: 4px;
}
.fSOff .fSTitle {
	color: #FF6600;
}

.fSOff .fSCheck {
	background: url('../images/checkbox_off.png') no-repeat top left;
}


.fFooterLink {
	color: #ffffff;
}

#fFooterTitle {
	display: inline;
	float: left;
	padding: 18px 5px 0 0;
}




.fEditable {
	display: block;
	width: 100%;
	height: 15px;
	border-top: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
	background-color: #ffffff;
	padding-left: 4px;
	padding-top: 0px;
	
	font-size: 9px;
	font-family: verdana;
}

.fEditableLabel {
	width: 65%;
	border: 1px solid #CFCFCF;
	display: inline;
}
.fEditableText{
	width: 100%;
	height: 100%;
	border: 0px;
	margin: 0px;
	background-color: #ffffff;

	position: absolute;
	font-family: verdana;
	font-size: 11px;
}




.fCenter {
	text-align: center;
	height: 14px;
	padding-top: 2px;
}

#fEventManager {
	width: 238px;
	background-color: #ffffff;
	border: 1px solid #666666;
	margin-bottom: 3px;
	float:right;
	top: 100px;
	left: 100px;
	position: absolute;
	
	background: #333333; color: #dfdfdf; padding:5px;
}

/* Alt Manager Stuff */
#fAltManager {
	position: absolute;
	height: 80px;
	top: 100px;
	left: 100px;
	display: none;
}


/* State Manager Stuff */
#fStateManager {
	position: absolute;
	height: 80px;
	top: 100px;
	left: 100px;
	display: none;
}

#fSMLeft {
	height: 80px;
	width: 7px;
	background: url('../images/bg_smLeft.png') no-repeat top right;
	display: inline;
	float: left;
}

#fSMCore {
	height: 80px;
	background: url('../images/bg_smCore.png') repeat-x top right;
	float: left;
	padding-right: 5px;
	padding-top: 5px;
	margin: 0px;
	font-size: 1px;
}

#fSMRight {
	height: 80px;
	width: 7px;
	background: url('../images/bg_smRight.png') no-repeat top right;
	float: left;
}

.fSMTitle1 {
	text-align: right;
	vertical-align: bottom;
	float: left;
	margin: 2px 4px 0 0;
	width: 95px;
	height: 80px;
	position: relative;
}

#fSMStateName {
	white-space: nowrap;
	vertical-align: top;
	padding: 0px;
	margin: 0px;
}



.fSMState {
	float: left;
	padding: 0 3px 0 0;
	margin: 0px;
	width: 36px;
	text-align: center;
	vertical-align: top;
	position: relative;
}
.fSMState input {
	position: absolute;
	left: 11px;
	bottom: -17px;
	margin: 0px;
	padding: 0px;
	width: 14px;
	height: 14px;
}

.fSMArrows {
	padding: 3px 3px 0 3px;
	width: 20px;
}
.fSMStarting {
	display: block;
	position: absolute;
	bottom: 13px;
	right: 0px;
	color: #8C95C8;
}






#fCBManager {
	position: absolute;
	width: 270px;
	top: 100px;
	left: 100px;
	display: none;	
}
#fCBTop {
	background: url('../images/bg_cpTop.png') no-repeat;	
	height: 7px;
}
#fCBCore {
	background: url('../images/bg_cpCore.png');	
	padding: 0px 10px 0 10px;
}
#fCBBottom {
	background: url('../images/bg_cpBottom.png') no-repeat;	
	height: 7px;
}






#fTempJData {
	width: 650px;
	height: 550px;
	background-color: #ffffff;
	border: 1px solid #666666;
	margin-bottom: 3px;
	float:right;
	top: 20px;
	left: 400px;
	position: absolute;
	color: #000000; padding:5px;
}
#fTempJData textarea {
	width: 100%;
	height: 100%;
}



#cbMini{
	float: right;
	position: relative;
	width: 112px;
	height: 37px;
	background: url('../images/cbMini.png') no-repeat top right;
}